<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DATA_TITLE</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">WIW</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="card m-5">
      <div class="card-header text-center">
        <h3>DATA_TITLE</h3>
      </div>
      <div class="card-body">
        DATA_FORM
        <!-- <form action="./store.php" method="post"> -->
          <div class="mb-3">
            <label for="nik" class="form-label">NIK</label>
            <input type="text" class="form-control" id="nik" name="nik" placeholder="Masukan NIK..." value="DATA_NIK" required />
          </div>
          <div class="mb-3">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukan Nama..." value="DATA_NAMA" required />
          </div>
          <div class="mb-3">
            <label for="tempat" class="form-label">Tempat</label>
            <input type="text" class="form-control" id="tempat" name="tempat" placeholder="Masukan Tempat..." value="DATA_TEMPAT" required />
          </div>
          <div class="mb-3">
            <label for="tl" class="form-label">Tanggal Lahir</label>
            <input type="date" class="form-control" id="tl" name="tl" placeholder="Masukan Tanggal Lahir..." value="DATA_TL" required />
          </div>
          <div class="mb-3">
            <div>
              <label for="gender" class="form-label">Jenis Kelamin</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Laki-laki" DATA_LK />
              <label class="form-check-label" for="gender">Laki-laki</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Perempuan" DATA_PR />
              <label class="form-check-label" for="gender">Perempuan</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Masukan Email..." value="DATA_EMAIL" required />
          </div>
          <div class="mb-3">
            <label for="telp" class="form-label">No Telepon</label>
            <input type="tel" class="form-control" id="telp" name="telp" placeholder="Masukan No Telepon..." value="DATA_TELP" required />
          </div>
          <button class="btn btn-primary" name="submit" type="submit">DATA_BTN</button>
          <button class="btn btn-secondary" type="reset">Reset</button>
        </form>
      </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
